/********************
*** Display ********
*********************/


.d-flex {
    display: flex;
}

/******************
*** Flex grow ********
**********************/

.flex-grow {
    flex-grow: 1;
}

/*********************
*** Align & Justify ***
***********************/
.justify-content-between {
    justify-content: space-between;
    
}
