/********************
*** Display ********
*********************/


.d-flex {
    display: flex;
}

/******************
*** Flex ********
**********************/

.flex-grow { flex-grow: 1;}
.flex-column {flex-direction: column;}
.flex-row { flex-direction: row;}

/*********************
*** Align & Justify ***
***********************/
.justify-content-between {
    justify-content: space-between;
    
}

/*************************
*** Align items center ***
**************************/
.align-items-center {
    align-items: center;
}



